<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eidt<%=foundFood.name%></title>
  </head>
  <body>
    <h1>Eidt <%= foundFood.name%></h1>
    <form action="/food/<%= foundFood._id %>?_method=PUT" method="POST">
      <label for="name">Food Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= foundFood.name %>"
        required
      />

      <label for="category">Category:</label>
      <input
        type="text"
        name="category"
        id="category"
        value="<%= foundFood.category %>"
        required
      />

      <label for="price">Price:</label>
      <input
        type="text"
        name="price"
        id="price"
        value="<%= foundFood.price %>"
        required
      />

      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4">
<%= foundFood.description %>
</textarea
      >

      <button type="submit">Edit Food</button>
    </form>
  </body>
</html>
