<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Index</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>All Food</h1>
      <a href="/food/new" class="add-business">Add Food</a>
    </div>
    <% console.log(allFood) %>
    <ul>
      <% allFood.forEach(food => { %>
      <li>
        <h2>
          <a href="/food/<%= food._id%>"> <%= food.name %></a>
        </h2>
        <p><strong>Category:</strong> <%= food.category %></p>
        <p><strong>Price:</strong> <%= food.price %></p>
        <p><strong>Description:</strong> <%= food.description %></p>
        
       
       
        <hr />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
